<div  id="dialog">
<h2><%= t("devise.links.sign_up") %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, t("devise.label.email") %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, t("devise.label.password") %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation,  t("devise.label.password_confirmation") %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit t("devise.links.sign_up") %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>