  <!-- Carrusel de bestsellers para la portada -->

<div>
	<%= link_to( image_tag("images/quijote.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/lazarillo.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>

<div>
	<%= link_to( image_tag("images/quijote.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/lazarillo.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/quijote.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/lazarillo.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/quijote.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/lazarillo.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/quijote.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/lazarillo.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/quijote.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/lazarillo.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/quijote.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/lazarillo.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/quijote.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>
<div>
	<%= link_to( image_tag("images/lazarillo.jpg",:size => "100x150", :alt=> "facebook"), "/", :title=>"Return Home", :class=>"logo") %>
</div>

   <!-- Carrusel de bestsellers para la portada -->