<p><%= t("devise.links.hello") %> <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to t("devise.links.change_password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t("devise.label.spam") %></p>
<p><%= t("devise.label.password_link") %></p>
