<!DOCTYPE html>
<html>
<head>
  <title>Libman</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="Keywords" content="">    <!-- Terminar y hacerlo variable -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Cabin+Sketch:bold|Droid+Serif">
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "jquery-ui" %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js' , 'rails', 'application' %>
  <%= csrf_meta_tag %>  
</head>
<body>  
<div id="header">
	<div class="wrapper">
	 	<div id="nav" class="clear">
		<ul>
      <li><a href=""><%= I18n.t "navigation.reservations"  %></a><br>
			<span><%= I18n.t "navigation.reservationsSpan"  %></span></li>
			<li><a href=""><%= I18n.t "navigation.news"  %></a><br>
			<span><%= I18n.t "navigation.newsSpan"  %></span></li>
			<li><a href=""><%= I18n.t "navigation.contact"  %></a><br>
			<span><%= I18n.t "navigation.contactSpan"  %></span></li>
      <li><a href=<%= if signed_in? ; "/logout" else "/login" end %>><%= if signed_in? ; I18n.t "navigation.logout" else I18n.t "navigation.login" end%></a><br>
      <span><%= if signed_in? ; I18n.t "navigation.logoutSpan" else I18n.t "navigation.loginSpan" end%></span></li>
		</ul>
		</div>
	</div>
</div>
<div id="perspective" class="clear">
	<div class="wrapper">
		<h2>Notificaciones o anuncios interesantes para el usuario</h2>
    <p>“Texto interesante, o anuncio hacia: <a href="http://papeleriakon-tiki.com/">página corporativa</a>, o bien hacia nuestra página en <a href="http://facebook.com/papkontiki">Facebook</a>.”</p>
	  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
</div>
<div class="spacer"></div>
  <%= yield %>
<div class="spacer"></div>
<div id="footer">	
  <div class="wrapper">
  <p class="copy">Copyright © 2011 Guillermo Caracuel | <a href="mailto:gcaracuel@gmail.com"> <%= I18n.t "layout.contact"%></a> | <a href="http://libman.heroku.com">Website</a> <%= (I18n.t "layout.website")%> | <span class="center"><%= (I18n.t "layout.railsCredits")%> <a href="http://rubyonrails.org/">Ruby on Rails</a></span></p>
  </div>
</div>
</div>
</body>
</html>
